* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 70px;
    background-color: lightblue;
    text-align: center;
    border-radius: 5px;
}

#inp {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 20px;
}

#btn {
    padding: 5px 10px;
    background-color: lightgreen;
    border-radius: 8px;
}

.info-hearder {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#result-container {
    width: 500px;
    /* height: 300px; */
    margin: 25px auto;
    overflow: auto;
    text-align: left;
}

ul {
    list-style: none;
}

#error-container {
    color: red;
}